process {
    withName: RENAME_FASTQ_HEADERS_PRE {
        memory = 128.GB
        cpus   = 24
        time   = 23.h
    }

        withName: BBMAP_BBDUK {
        memory = 128.GB
        cpus   = 24
        time   = 23.h
    }

        withName: ISOLATE_BBDUK_IDS {
        memory = 128.GB
        cpus   = 24
        time   = 23.h
    }
}
